:root {
  --main-color-theme: #dadada;

  /* needed in this format for use in rgba() */
  --main-color-theme-rgb: 86, 86, 86;

  --main-color-light: white;
  --main-color-dark:#030043;
  --main-color-nav: white; /*#f9f9f9;*/

  --main-color-accent: #d3d3d3;

  --prescription-color-main: #fee8eb;
  --prescription-color-light: #fdf6f7;
}

/* *************************************************************** */


.nav-icon {    
  height: 18pt;

  position: relative;
  top:50%;
  transform: translateY(-70%);
  text-align: center;
}

/* *************************************************************** */

.logo > #icon, #sep {
  display: none;
}

.logo > #title {
  position: relative;
}

.logo > #title > #text {
  color: var(--main-color-dark);
  font-size: 2.0em;

  margin: 0;
}

.logo-corner-image {
  width: 30px;
  position: absolute;
  left: -13px;
  top: -8px;
}

/* *************************************************************** */


#login-1 > #innner > .button {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

#login-2 {
  margin: 10pt;
  align-self: flex-start;
}

#login-2 > #inner {
  background-color: var(--main-color-light);
  border-radius: 10pt;

  color: var(--main-color-dark);
  padding: 15px 15px 15px 15px;
}

#login-1 > #inner > .button, 
#login-2 > #inner > .button 
{
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  font-weight: bolder;
  padding: 7px;  
  width: 330px;
  height: 30pt;
  border-radius: 5px;
  border-style: none;
}

#login-1 > #inner > .button > .button-logo,
#login-2 > #inner > .button > .button-logo {
  background-image:  url('../images/bdr-small-light.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* *************************************************************** */
 
#video-waiting {
  margin: 10px;
  background-color: var(--main-color-light);
  border-radius: 10pt;

  color: var(--main-color-dark);
  padding: 15px 15px 15px 15px;
}

#video-waiting > .button 
{
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  font-weight: bolder;
  /*padding: 7px;*/  
  width: 330px;
  height: 30pt;
  border-radius: 5px;
  border-style: none;
}