html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

#login-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

#login-overlay > #blurred {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*color: rgba(130, 130, 130, 0.5);*/
  color: rgba(230, 130, 130, 0.5);
  text-align: center;
  /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  */
  z-index: 1;
  
  background:rgba(0, 0, 0, 0.6);
  
  filter: blur(px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
}
  
#login-overlay > #clear {
  position: absolute;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 50%;
  color: black;
  background-color: whitesmoke;
  text-align: center;
  z-index: 3;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

header {
   display: flex;
   height: 40pt;
    width: 100%;
    max-height: 40pt;
    min-height: 30pt;
    background-color: lightgray;
    overflow: auto;
}

header > div {
  margin: 0;
}

.header-right-wrapper {
  margin: 0;
  margin-left: auto;
}

nav {
  height: 60pt;
  min-height: 60pt;
  max-height: 60pt;
  background-color: whitesmoke;

}

nav > ul {
    display: flex; 
    justify-content: space-around;
    height:100%;
    margin: 0;
    padding: 0;

    /*position: relative;*/
}

/* navigational item (menu item)*/
nav > ul > li {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;

    overflow: hidden;

    /* centering vertically, see also -nav-icon */
    position: relative;
    border-color: lightgray;
    border-top-width: 1pt;
    border-top-style: solid;

    /*
    border-right-width: 1pt;
    border-right-style: solid;
    */
     
}


main {
  background-color: white;
  flex-grow : 1;
  overflow: auto;
}


.nav-icon {    
    height: 30pt;
}

.nav-icon-signout {    
  height: 30pt;
}

.center-vertically {
    position: absolute;
    top:50%;
    transform: translateY(-70%);
    text-align: center;
}
