html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

header {
   display: flex;
   height: 40pt;
    width: 100%;
    max-height: 40pt;
    min-height: 30pt;
    background-color: lightgray;
    overflow: auto;
}

header > div {
  margin: 0;
}

.header-right-wrapper {
  margin: 0;
  margin-left: auto;
}

nav {
  height: 60pt;
  min-height: 35pt;
  max-height: 70pt;
  background-color: whitesmoke;

}

nav > ul {
    display: flex; 
    justify-content: space-around;
    height:100%;
    margin: 0;
    padding: 0;

    /*position: relative;*/
}

/* navigational item (menu item)*/
nav > ul > li {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;

    overflow: hidden;

    /* centering vertically, see also -nav-icon */
    position: relative;
    border-color: lightgray;
    border-top-width: 1pt;
    border-top-style: solid;

    /*
    border-right-width: 1pt;
    border-right-style: solid;
    */
     
}


main {
  background-color: white;
  flex-grow : 1;
  overflow: auto;
}


.nav-icon {    
    height: 30pt;
}

.nav-icon-signout {    
  height: 30pt;
}

.center-vertically {
    position: absolute;
    top:50%;
    transform: translateY(-70%);
    text-align: center;
}
