:root {
  --main-color-theme: #bfebfb;
  /* --main-color-theme: #dadada; */

  /* needed in this format for use in rgba() */
  --main-color-theme-rgb: 191, 235, 251;
  /*--main-color-theme-rgb: 86, 86, 86; */

  --main-color-light: white;
  --main-color-dark:#030045;
  --main-color-nav: #f9f9f9;

  --prescription-color-main: #fee8eb;
  --prescription-color-light: #fdf6f7;
}

/* ************************************************
 * 
 * ***********************************************/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;  
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

/* ********************************* 
 * Login Screen(s)
 * *********************************/
#login-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: var(--main-color-theme);

  text-align: center;
}

#login-waiting-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: none;
  height: 100%;
  width: 100%;

  margin: 0pt;
  padding: 0pt;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-color: var(--main-color-theme);
  color: var(--main-color-dark);
}
#login-waiting-overlay > h2 {
  padding-left: 110px;
  padding-right: 110px;
}
/*
 *
 */
.logo {  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
  justify-content: space-around;
  height: 30%;

  padding-top: 40px;
}
.logo > img {
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

/*
 *
 */
.responsive {
  display: flex;
  flex-wrap: wrap;
  /*height: 70%;*/
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
}

.responsive-left {
  flex: 50%;
  /*min-width: fit-content;*/
  max-width: 350pt;
}

.responsive-right {
  flex: 50%;
  /*min-width: fit-content;*/
  max-width: 350pt;
  height: 55%;
}


@media (max-width: 700px) {
  .responsive { height: 66%;}
  .responsive-right, .responsive-left {
    flex-direction: 100%;
  }
}

#login-1 {
  margin: 10pt;
  align-self: flex-start;
}

#login-1 > #inner {
  background-color: var(--main-color-light);
  border-radius: 10pt;

  color: var(--main-color-dark);
  padding: 15px 15px 15px 15px;
}


/*
#login-1, #login-2 > #inner > a {
  display:inline-flex;
}
*/

/*#login-1 > #inner > a {*/
.login-button, .button {
  font-size: 13pt;
  margin: 5pt;
  display: inline-flex;
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  
  /*width: 120px;*/
 
  text-decoration: none;

  font-weight: bold;
  padding: 7px;
  padding-top:0px;
  width: 330px;
  height: 25pt;
  border-radius: 5px;
  border-style: none;
}

.button > .button-logo {
  justify-content: left;
  height: 70%;
  padding-top: 4px;
}
.button > .button-text {
  width:100%;
  text-align:center;
  padding-top: 10px;
}

.dark {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

.light {
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
}

/**********************/

#login-2 {
  margin: 0pt;
  align-self: flex-end;
}

#login-2 > #inner {
  color: var(--main-color-light);
  height: 100%;
  background-color: var(--main-color-dark);
  padding: 15px 25px 15px 25px;
}

#login-2 > #inner > button {
  background-color: var(--main-color-light);
  color: black;
  font-weight: bolder;
  padding: 7px;  
  width: 330px;
  height: 30pt;
  border-radius: 5px;
  border-style: none;
}

#login-overlay > #blurred {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*color: rgba(130, 130, 130, 0.5);*/
  color: rgba(130, 130, 130, 0.7);  
  text-align: center;
  overflow: hidden;
  z-index: 1;
  
  /*
  background:rgba(200, 200, 200, 0.2);
  background: var(--main-color-light);
  */
  background-image: url('../images/icon-512.png');
    
  background-repeat: no-repeat;
  background-position: center;

  /*
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  */

  filter:opacity(25%);
  
}
  
#login-overlay > #clear {
  position: absolute;
  /*
  left: 15%;
  top: 10%;
  width: 70%;
  height: 75%;
  */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  z-index: 3;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  /*
  border-radius: 20pt;
  border-color: gray;
  border-width: 3pt;
  border-style: solid;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  */
}

.login-box {
  display:flex;
  flex-direction: column;
  margin: 10%;
  align-items: center;
  /*width: 20%;*/
  
}


.rounded-button-link {
  margin: 5pt;
  padding: 5pt;
  padding-left: 20pt;
  padding-right: 20pt;
  width: fit-content;
  display: inline-flex;
  flex-wrap: wrap;
  
  /*width: 120px;*/
 
  font-weight: bold;
  color: var(--main-color-light);


  background-color: cornflowerblue; /*rgb(124, 222, 255);*/
  /*background-color: var(--main-color-light);*/
 
  border-style: solid ;
  border-color: cornflowerblue;
  border-width: 1pt;
  border-radius: 12pt;

  text-decoration: none;
}

.rounded-button-link.default {
  background-color: cornflowerblue; /*rgb(124, 222, 255);*/
  border-color: cornflowerblue;
}

.rounded-button-link.alt {
  background-color: lightgray; /*rgb(124, 222, 255);*/
  border-color: lightgray;
}

.rounded-button-link.green {
  background-color: lightgreen; /*rgb(124, 222, 255);*/
  border-color: lightgreen;
}

#login-overlay > #qr-code-login-overlay {
  display: none;

  position: absolute;

  overflow: auto;
  margin: 0;
  left: 10%;
  top: 20%;
  
  max-height: 300pt;
  width: 70%;
  max-width: 300pt;
  z-index: 5;

  text-align: center;
  align-content: center;
  padding: 20pt;
  margin: 0pt;
 
  color: var(--main-color-light);
  background-color: cornflowerblue;

  border-radius: 10pt;
}

#qr-code-login-overlay > img {
  height: 100pt;
}
#qr-code-login-overlay > div {
  margin: 10pt;
}

/* ********************************* 
 * header bar
 * *********************************/
header {
   display: flex;
   height: 35pt;
   width: 100%;
   max-height: 35pt;
   min-height: 35pt;
   background-color: var(--main-color-theme);/*lightgray;*/
   overflow: auto;
   flex-direction: row;
   
   /*border: 0 solid lightgray;*/
   /*border-top-width: 1pt;*/
   /*border-bottom-width: 1pt;*/
 
}


header > div {
  /*
  margin: 0pt;
  display: inline-block;
  overflow: hidden;
  */
  /*
  border-right: 2pt;
  border-right-color: gray;
  border-right-style: solid;
*/
}

#custom-header {
  display: flex;
  width: 20%; 
  justify-content: center;
}


#data-header {
  width: 60%;
  text-align: center;
  align-content: center;
  color: cornflowerblue;
  font-weight: bold;
}

#signout-header {
  display: flex;
  justify-content: center;
  width: 20%;
  /*
  align-content: center; 
  text-align: center;
  */
}

.nav-button-signout {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

/*
.header-image {
  height: 100%;
  margin: 0;
  border: 0;
}
*/
/*
.nav-icon-signout {    
  height: 30pt;
  margin: 0;
  border: 0;
}
*/

/* ********************************* 
 * Main content area
 * *********************************/
 main {
  background-color: var(--main-color-light);
  flex-grow : 1;
  overflow: auto;
}


/* ********************************* 
 * Bottom navigation bar
 * *********************************/
nav {
  height: 60pt;
  min-height: 60pt;
  max-height: 60pt;
  background-color: var(--main-color-nav);

}

nav > ul {
    display: flex; 
    /*justify-content: space-evenly;*/
    height:100%;
    margin: 0;
    padding: 0;

    /*position: relative;*/
}

/* navigational item (menu item)*/
nav > ul > li {
    display: block;
    /*
    text-align: center;
    align-items: center;
    */
    width: 100%;

    padding-top: 7pt;
    padding-left: 15pt;
    padding-right: 15pt;

    overflow: hidden;

    /* centering vertically, see also -nav-icon */
    position: relative;
    border-color: lightgray;
    border-top-width: 1pt;
    border-top-style: solid;
    

    /*
    border-right-width: 1pt;
    border-right-style: solid;
    */
     
}

/* make link (<a>) area larger, for easier clicking */
nav > ul > li > a {
  display: block;
  height: 100%;
}

.nav-icon {    
    height: 13pt;
}

.center-vertically {
    position: absolute;
    top:50%;
    transform: translateY(-70%);
    text-align: center;
}

/* ********************************* 
 * Info
 * *********************************/
.info {
  display: flex;
  overflow: hidden;
  margin: 0pt;
  padding:20pt;
  background-color: var(--main-color-theme);
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  margin: 0pt;
  padding: 0pt;
}

.card {
  padding: 5pt;
  margin: 10pt;
  border: 1pt var(--main-color-light) solid;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
/* ********************************* 
 * Video-Chat
 * *********************************/
#video-other {
  display: flex;
  height: 100%;

  margin: 0pt;
  padding: 0pt;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-color: var(--main-color-theme);
  color: var(--main-color-dark);
}

#video-all {
  display: none; /*flex;*/
  height: 100%;

  margin: 0pt;
  padding: 0pt;

  flex-direction: row;
  justify-content: center;

  /*background-color: var(--main-color-theme);*/
}

#video-peer {
  display: block;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#video-peer > img {
  /*display: flex;*/
  /*width: 100%; */
  
  max-width: 100%;
  max-height: 100%;
  /*border: 2px var(--main-color-light) solid;*/
  border-radius: 30px;
}

.bottom-overlay-space {
  display: flex;
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: rgba(var(--main-color-theme-rgb), 0.5);
  justify-content: baseline; /*space-between;*/
  align-self: flex-end;
}

#video-self {
  height: 90%;
  max-height: min-content;
  width: min-content;
  max-width: 50%;
  /*transform: translateY(100%);*/
  align-self: center;
  border: 0px var(--main-color-light) solid;
  border-radius: 6pt;
}

.control-button-group {
  margin:0pt;
/*
  padding-left: 20pt;
  padding-right: 20pt;
  */
  width: 100%;
  align-self: center; /*flex-end;*/
  text-align: center;
}

.video-controls {
  position: absolute;
  top: 75%;  
  width: 100%;
}

.video-controls > ul {
  display: flex; 
  justify-content: flex-start;
  height:100%;
  margin: 0;
  padding: 0;

  /*position: relative;*/
}

.video-controls > ul > li {
  display: block;
  text-align: center;
  align-items: center;
  width: 100%;

  overflow: hidden;

  /* centering vertically, see also -nav-icon */
  position: relative;
}

.round-button {
  background-color: var(--main-color-light);
  /*background-image: url('../images/microphone.svg');*/
  border: 0px lightgray solid;
  border-radius: 50%;
  width: 51px;
  height: 51px;
}
/* ********************************* 
 * Rezept
 * *********************************/
/*x-prescription-view*/
.prescription
{
  height: 100%;
  margin: 0pt;
  padding: 0pt;
  background-color: var(--main-color-theme);
}

#prescription-header {
  padding: 7pt;
  margin: 0pt;
  background-color: none;
  margin-bottom: 20px;
}

.presc {
  background-color: var(--main-color-theme);
}

#bottom-space {
  background-color: var(--main-color-theme);
  height: 50px;
}
.data-bubble {
  margin-top: 10px;
}

.data-bubble-title {
  margin: 0;
  font-size: 80%;
  background-color: var(--main-color-light);
  padding: 10px 20px 10px;
  border-radius: 13px 13px 0px 0px;
}
.data-bubble-content {
  margin: 0;
  font-weight: bold;
  font-size: 80%;
  padding: 10px 20px 10px;
  background-color: var(--main-color-light);
  border-radius: 0pt 0pt 13pt 13pt;
}

.data-bubble-input {
  border : 1px solid var(--prescription-color-main);
  width: 100%;
}

.presc-header {
  display:flex;
  background-color: var(--prescription-color-light);
  padding: 10px 20px 10px;
  border-radius: 20px 20px 0px 0px;
  height: 50px;
  margin: 0;
}

.presc-body {
  background-color: var(--prescription-color-main);
  margin: 0;
/*  padding: 10px 20px 10px;*/
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 0px 20px 20px;
}

/* background of bubles in header */
#prescription-header > .data-bubble > .data-bubble-title
, #prescription-header > .data-bubble > .data-bubble-content {
  background-color: var(--main-color-light);
}

/* background of bubles in prescription */
.presc-body > .data-bubble > 
.data-bubble-title,
.data-bubble-content {
  background-color: var(--prescription-color-light);
}

#sign-prescription-button {
  width: 70pt;
  height: 34pt;
  border-width: 0pt;
  background-color: var(--prescription-color-light); /*var(--prescription-color-main);*/
}


/* ********************************* */
/* fun stuff
/* ********************************* */

/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)

<span class="blink"><span>
*/


@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink{
  display: block;
  margin: 13pt;
  width: 13px;
  height: 13px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

/*
 * loader aqnimation 
 */
 .loader {
  border: 5px solid; 
  border-color: var(--main-color-light) transparent var(--main-color-light) transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
